[data-theme-color="turquoise"] {
  --color-primary-50: #ecfeff;
  --color-primary-100: #cffafe;
  --color-primary-300: #67e8f9;
  --color-primary-400: #22d3ee;
  --color-primary-500: #06b6d4;
  --color-primary-600: #0891b2;
  --color-primary-800: #164e63;
  --color-primary-900: #083344;

  --color-secondary-50: #f5f3ff;
  --color-secondary-100: #ede9fe;
  --color-secondary-300: #c4b5fd;
  --color-secondary-400: #a78bfa;
  --color-secondary-500: #8b5cf6;
  --color-secondary-600: #7c3aed;
  --color-secondary-800: #5b21b6;
  --color-secondary-900: #2e1065;
}
